.container-fluid {
  padding: 60px 50px;
}

.about-text{
  margin-bottom: 50px;
}

.about-logo {
  font-size: 20rem;
}

.jumbotron {
  background-color: #f4511e;
  color: #fff;
  padding: 100px 25px;
}



/* @media screen and (max-width: 768px) {
  .container-fluid{
    padding: 20px 15px;
  }
  .about-text{
    margin-bottom: 10px;
  }
  .col-sm-4 , .col-sm-8{
    text-align: center;
    margin: 25px 0;
  }
} */