/* Coming soon */
*{
  margin: 0;
  padding: 0;
}

.launching-soon{
  margin: 0%;
  background-color: black;
  background-image: url("../images/coming-soon-bg.webp");
  position: relative;
  background-size: cover;
}

.logo{
  width: 13%;
    position: absolute;
    margin-top: 50px;
    margin-left: 150px;
    z-index: 3;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


.leaf{
  background-image: url("../images/leaf.webp");
  width: 50%;
  transform: rotate(-15deg); 
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 10%;
  left: 24%;
  right: 40%;
  bottom: 20%;
}

.leaf-text{
  transform: rotate(15deg); 
  z-index: 100;
  color: white;
  text-align: center;
   padding: 90px 0px;
    font-size: 6vw;
}

.launching-soon-text{
  position: relative;
  padding-top: 60vh;
  text-align: center;
  color: white;
}
.launching-soon-text h1{
  font-size: 50px;
  margin-bottom: 34px;
}

.launching-soon-text p{
  font-size: 30px;
}

.dropdown{
  margin-top: 30px;
  height: 3vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  







/* Products  */

.icons{
  margin: 0px 20px;
  size: 20px;
  margin-bottom: 100px;
  
}



/* Media Queries */
@media screen and (max-width:600px) {

  .logo{
    width: 30%;
    margin-left: 35%;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .leaf{
    background-image: url("../images/leaf.webp");
    width: 75%;
    background-repeat: no-repeat;
    transform: rotate(-15deg); 
    background-size: contain;
    position: absolute;
    top: 35%;
    left: 15%;
    right: 5%;
    bottom: 20%;
  }

  .leaf-text{
     padding: 55px 0px;
    font-size: 6vw;
  }
  
  .leaf{
    transform: translate(0px, 0px) rotate(-15deg);
    height: 333.028px;
    position: absolute;
    z-index: 0;
  }
  
}

@media screen and (max-width: 1000px) and (min-width: 600px){

  .logo{
    width: 20%;
    margin-left: 40%;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .leaf{
    background-image: url("../images/leaf.webp");
    width: 70%;
    background-repeat: no-repeat;
    transform: rotate(-15deg); 
    background-size: contain;
    position: absolute;
    top: 35%;
    left: 25%;
    right: 5%;
    bottom: 20%;
  }

  .leaf-text{
    font-size: 6vw;
    padding-top: 70px;
    padding-right: 120px;
  }
  

  
  
  .leaf{
    transform: translate(0px, 0px) rotate(-15deg);
    height: 333.028px;
    position: absolute;
    z-index: 0;
  }
  
}